table, th, td {
    border: 1px solid black;
    border-spacing: 3px;
    padding: 3px; 
    empty-cells: show;
}

body {
    font-family: Verdana;
}

.navBar a:hover {
    background-color: yellow;
}

.navBar a {
    color: white;
}
.navBar {
    position: sticky;
    top: 0px;
    background-color: black;
}

footer {
    position: sticky;
    bottom: 0px;
    background-color: white;
}